@model IEnumerable<MOURA_AGENDA.Models.Agendum>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro Agenda Moura</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOBRENOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE_RESIDENCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CELULAR_PRINCIPAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CELULAR_RECADOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDERECO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BAIRRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOBRENOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONE_RESIDENCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELULAR_PRINCIPAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELULAR_RECADOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDERECO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BAIRRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
